html {
    box-sizing: border-box;

    background-image: url("https://rare-gallery.com/uploads/posts/1097054-kitchen-spoons-diner-cooking-ART-darkness-screenshot.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    height: 100vh;

}

h1 {
    color: #d9dbf1;
    font-size: 5em;
    font-style: italic;
    font-family: 'Sono', sans-serif;
    border-radius: 20px;
    border: 1px solid;
}

article {
    color: #d9dbf1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

header {
    text-align: center;
    font-size: 2em;
}

li {
    padding-top: 5px;
}

p.content,
.content {
    font-size: 1.5em;
    margin: 0 20px 10px 20px;
}

p.content {
    padding: 5px;
}

.content {
    padding-bottom: 10px;
    line-height: 1.2;
}


.main {
    text-align: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20%;
    border: 1px solid #d9dbf1;
}

a {
    color: #d9dbf1;
    text-decoration: none;
    padding: 5px;
    border-radius: 40%;
    font-size: 1.3em;
}

a:hover {
    color: black;
    background-color: #d9dbf1;
}

a:active {
    color: grey;
}

footer {
    text-align: center;
    padding-bottom: 2px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 3em;
    }

    p.content,
    .content {
        font-size: 1em;
    }

    header {
        font-size: 1.5em;
    }

    a {
        font-size: 1.1em;
    }
}